__pycache__/

json_files/*
settings.json
name_list.json

.vscode/

*.env
*.txt
tst.py
creds/
source/paths.py


json_files/settings.json
json_files/working.json
json_files/records.json
json_files/settings.json
logs/*
logs/server.log
logs/server.log
logs/server.log
.\json_files\settings.json
logs\server.log
N:\Desktop\projects\auto-candidate\logs\server.log

.DS_store

json_files/settings.json

logs/*
logs/server.log

json_files/*
json_files/

logs/*
logs/server.log

UserScripts/*
UserScripts/
scripts/jobdiva_monday/candidate.csv
scripts/jobdiva_monday/candidatenote.csv
scripts/jobdiva_monday/candidateuserfield.csv
scripts/jobdiva_monday/jobapplicants.csv
scripts/jobdiva_monday/licenses_certifications.csv
scripts/jobdiva_monday/receipt.log
scripts/jobdiva_monday/recruiter.csv
scripts/jobdiva_monday/resume.csv
